<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="https://medium.com/">Medium.com</a>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-8 text-left"> 
        <div id="articles">
        <h1>Medium.com Scraper</h1>
        <button type="button" class="btn btn-secondary" id="scraper">Scrape Articles</button>
        <button type="button" class="btn btn-secondary" id="clear-articles">Clear Articles</button>
        <hr>
        <h3>Click on an article to leave a comment!</h3>
        </div>
    </div>
    <div class="col-sm-2 sidenav">
        <h4>Comments</h4>
        <div id="notes"></div>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
    <h5><a href="https://github.com/discopat1"><i class="fab fa-github fa-3x"></i></a><a href="https://www.linkedin.com/in/patrick-neff-66034a15a"><i class="fab fa-linkedin fa-3x"></i></a></h5>
</footer>
<script src="app.js"></script>